:root {
  --x-white: rgba(255, 255, 255);
  --x-orange: #ed5a2d;
  --x-black-text: rgba(0, 0, 0);
  --x-gold-text: rgba(159, 92, 93, 1);
}

body {
  font-family: "Didact Gothic", sans-serif;
}

header {
  display: block;
}

.header-newsflash {
  margin: 0;
  padding: 2px 5px 2px 5px;
  background-color: var(--x-orange);
  color: var(--x-white);
  text-align: center;
}

header {
  margin-top: 50px;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header h1 {
  width: 100%;
  background-image: url("img/Sipple_Logo_540x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  /* what are next 3 lines for? */
  padding-top: 125px;
  height: 0;
  overflow: hidden;
}

.hamburger i {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hamburger i line {
  stroke: var(--x-black-text);
  stroke-width: 1;
  stroke-linecap: square;
}

.cart i {
  /* padding: 20px; */
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cart i line {
  stroke: var(--x-black-text);
  stroke-width: 1;
  stroke-linecap: square;
}

.main-slideshow {
  position: relative;
  width: 100%;

  /* overflow: hidden; */
}

/* need to turn this inot a flex with arrows and 2 images */

.main-slideshow h1,
h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  padding: 10px;
}

.main-slideshow h1 {
  font-size: 3em;
}

/* how do i fix the button but allow the text to move??? */

.main-slideshow button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border-color: var(--x-gold-text);
  color: var(--x-gold-text);
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

.main-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

section > h2 {
  color: var(--x-black-text);
  text-align: center;
  font-size: 1.4em;
  text-shadow: none;
}

.what-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0;
  /* justify-items: center; */
  /* align-items: center; */
}

/* FRIDAY/NEXT: get alignment sorted are we working with conatiner or childern?*/

.what-style li {
  display: inline-block;
  list-style: none;
  padding-top: 15px;
  color: var(--x-gold-text);
  font-size: 1.2em;
}

.what-style li a {
  text-decoration: none;
  color: var(--x-gold-text);
}

/* the link is same fomrat whether its normal, hovered or viisted or not */

.what-style li img {
  height: 50px;
  width: 50px;
}

.meet-the-maker img {
  width: 100%;
  height: 100%;
}

.meet-the-maker h2 {
  text-align: left;
  padding: 0;
  font-size: 2em;
}

/* why doesnt align  work ??? */
.meet-the-maker hr {
  text-align: left;
  color: var(--x-orange);
  width: 200px;
}

/* why doesnt this work ??? */
.meet-the-maker hr::after {
  color: var(--x-orange);
  font-size: 1.5em;
}

/* why is top & left edge lighter? */
.meet-the-maker button {
  top: 0%;
  left: 0%;
  background-color: white;
  border-color: var(--x-black-text);
  /* border-color: red; */
  color: var(--x-black-text);
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

.hero-image img {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

/* need to center this */
.sipple-notes img {
  margin-top: 20px;
  text-align: center;
  width: 80%;
  height: 80%;
}

.notes-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* why not centering? */
  /* why gap to right of glasses? */
  background-color: DodgerBlue;
}

.notes-container > div {
  background-color: pink;
  /* how do I align 5 sips to center-right and the 5 glasses to top center??? */
  margin: 20px;
  /* padding: 20px; */
  font-size: 1.5em;
}

.notes-table {
  margin: 0px;
  /* why not killing margin? */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  column-gap: 20px;
  background-color: aquamarine;
}

.notes-table div {
  list-style: none;
  background-color: greenyellow;
  color: red;
}
