:root {
  --x-white: rgba(255, 255, 255);
  --x-orange: #ed5a2d;
  --x-black-text: rgba(0, 0, 0);
  --x-gold-text: rgba(159, 92, 93, 1);
  --x-light-blue: #80b8bd;
  --x-beige: #faf5e8;
  --x-grey: #e3e3e3;
}

body {
  font-family: "Didact Gothic", sans-serif;
}

header {
  display: block;
}

.header-newsflash {
  margin: 0;
  padding: 2px 5px 2px 5px;
  background-color: var(--x-orange);
  color: var(--x-white);
  text-align: center;
}

header {
  margin-top: 50px;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header h1 {
  width: 100%;
  background-image: url("img/Sipple_Logo_540x.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  /* what are next 3 lines for? */
  padding-top: 125px;
  height: 0;
  overflow: hidden;
}

.hamburger i {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hamburger i line {
  stroke: var(--x-black-text);
  stroke-width: 1;
  stroke-linecap: square;
}

.cart i {
  /* padding: 20px; */
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cart i line {
  stroke: var(--x-black-text);
  stroke-width: 1;
  stroke-linecap: square;
}

.main-slideshow {
  position: relative;
  text-align: center;
  width: 100%;

  /* knock the image back with opacity?? */
}

/* need to turn this inot a flex with arrows and 2 images */

.main-slideshow h1,
h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
}

.main-slideshow h1 {
  font-size: 3em;
}

.main-slideshow button {
  margin: 0 auto 50px;
  background-color: white;
  color: var(--x-gold-text);
  border: 2px solid;
  padding: 15px 32px;
  font-size: 1.2em;
}

.main-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

section > h2 {
  color: var(--x-black-text);
  text-align: center;
  font-size: 2em;
  text-shadow: none;
}

.what-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0;
  text-align: center;
  /* you don't need any justify or align !!*/
  /* justify-items: center; */
  /* align-items: center; */
}

.what-style li {
  display: inline-block;
  list-style: none;
  padding-top: 15px;
  color: var(--x-gold-text);
  font-size: 1.2em;
}

.what-style li a {
  text-decoration: none;
  color: var(--x-gold-text);
}

/* the link is same fomrat whether its normal, hovered or viisted or not */

.what-style li img {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.meet-the-maker img {
  width: 100%;
  height: 100%;
}

.meet-the-maker h2 {
  text-align: left;
  padding: 0;
  font-size: 2em;
  border-bottom: solid 2px var(--x-orange);
  margin-right: 100px;
}

.orange-heading {
  color: var(--x-orange);
  font-size: 1.7em;
}

.meet-the-maker button {
  top: 0%;
  left: 0%;
  background-color: white;
  border: 2px solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

.hero-image img {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.sipple-notes img {
  display: block;
  margin: 20px auto 0;
  text-align: center;
  width: 80%;
  height: 80%;
}

.notes-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  background-color: DodgerBlue;
}

.notes-container > div {
  background-color: pink;
  width: 40%;
  /* how do I align 5 sips to center-right and the 5 glasses to top center??? */
  /* margin: 20px; */
  /* padding: 20px; */
  font-size: 1.5em;
}

.notes-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* text-align: center; */
  /* grid-template-rows: repeat(4, auto); */
  /* align-items: center; */
  /* background-color: aquamarine; */
}

.notes-table div {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  background-color: greenyellow;
  color: red;
  text-align: center;
  font-size: 1.2em;
}

/* is this ok? */
.notes-table div img {
  background-color: aqua;
  width: 50%;
}

.notes-table div span {
  font-weight: bold;
  color: blue;
}

/* how to do the italic for Elton John */

.sipple-notes button {
  display: block;
  /* min-width: 300px; */
  margin: 30px auto;
  color: var(--x-white);
  background-color: var(--x-gold-text);
  border: 2px solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

.our-favourites {
  display: flex;
  margin-bottom: 100px;
}

.our-favourites > div > img {
  width: 100%;
}

.centred-text-block {
  margin: 20px;
  color: var(--x-gold-text);
  text-align: center;
  font-size: 1.2em;
}

.centred-text-block button {
  display: block;
  margin: 30px auto;
  color: var(--x-white);
  background-color: var(--x-gold-text);
  border: 2px solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

/* .photo-stack > div > img {
  width: 100%;
  height: 100%;
} */

.photo-stack img {
  width: 100%;
  margin: 0 0 10px 0;
  /* need to get rid of l & r margin */
}

.photo-stack button {
  display: block;
  margin: 30px auto;
  color: var(--x-gold-text);
  background-color: var(--x-white);
  border: 2px solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

figure {
  background-color: var(--x-light-blue);
  color: var(--x-white);
  text-align: center;
  padding-bottom: 20px;
}

/* sort out the margin! */

figure h3 {
  font-size: 2em;
}

figure figcaption {
  font-weight: bold;
}

.af-for-me {
  padding-top: 50px;
  background-color: var(--x-beige);
}

.af-for-me h1 {
  color: var(--x-gold-text);
  font-size: 3em;
  text-align: center;
}

.af-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 0;
  text-align: center;
}

.af-list li {
  display: inline-block;
  list-style: none;
  padding-top: 25px;
  color: var(--x-black-text);
  font-size: 1.2em;
}

.af-list li img {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto 20px;
}

.af-for-me button {
  display: block;
  margin: 20px auto 20px;
  /* how do I get a bottom margin? */
  color: var(--x-gold-text);
  background-color: var(--x-white);
  border: 2px solid;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.2em;
}

.pre-footer {
  background-color: var(--x-grey);
  text-align: center;
  padding-top: 30px;
  /* font-size: 0.5em; */
}

.pre-footer li {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.pre-footer li a {
  padding: 0;
  /* get rid of bullet point padding */
  color: var(--x-black-text);
  text-decoration: none;
}
